# Imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('connections_princeton.csv')

# Analysis

In [3]:
df

                pre_root_id        post_root_id neuropil  syn_count nt_type
0        720575940625363947  720575940623224444     ME_L         12    GABA
1        720575940630432382  720575940618518557     ME_L         67     ACH
2        720575940627314521  720575940626337738     ME_L         10    GABA
3        720575940620280405  720575940620204726     ME_L         15     ACH
4        720575940636942447  720575940613789411     LA_L          1    GLUT
...                     ...                 ...      ...        ...     ...
5342441  720575940610739918  720575940617129885    PLP_L          5     ACH
5342442  720575940653332385  720575940623905719    CRE_R          2     ACH
5342443  720575940622485887  720575940631031803     ME_R          9     ACH
5342444  720575940620020534  720575940636489140    SMP_L          2     ACH
5342445  720575940632648612  720575940626847765      GNG         19    GABA

[5342446 rows x 5 columns]

In [4]:
df['neuropil'].unique()

array(['ME_L', 'LA_L', 'UNASGD', 'LOP_L', 'LO_L', 'AVLP_L', 'SLP_L',
       'LH_L', 'PVLP_L', 'PLP_L', 'AOTU_L', 'AME_L', 'GNG', 'AL_R',
       'LAL_R', 'ME_R', 'AVLP_R', 'SMP_R', 'AMMC_L', 'SMP_L', 'MB_VL_R',
       'LO_R', 'MB_PED_R', 'VES_L', 'CRE_R', 'AMMC_R', 'SCL_R', 'LOP_R',
       'PLP_R', 'CRE_L', 'LH_R', 'SPS_R', 'VES_R', 'PVLP_R', 'PB',
       'ICL_L', 'ATL_L', 'PRW', 'SCL_L', 'CAN_R', 'LAL_L', 'SPS_L',
       'IPS_L', 'WED_L', 'IPS_R', 'MB_VL_L', 'FB', 'SLP_R', 'SIP_R',
       'AL_L', 'EPA_L', 'IB_R', 'FLA_R', 'SIP_L', 'SAD', 'WED_R', 'EB',
       'FLA_L', 'MB_PED_L', 'BU_R', 'IB_L', 'MB_ML_L', 'MB_CA_L', 'GOR_R',
       'LA_R', 'ICL_R', 'MB_CA_R', 'EPA_R', 'GOR_L', 'AOTU_R', 'MB_ML_R',
       'ATL_R', 'NO', 'AME_R', 'GA_L', 'BU_L', 'OCG', 'CAN_L', 'GA_R'],
      dtype=object)

In [12]:
df['nt_type'].unique()

array(['GABA', 'ACH', 'GLUT', 'OCT', 'SER', 'DA'], dtype=object)

In [5]:
len(df['post_root_id'].unique())

130183

In [7]:
len(df['pre_root_id'].unique())

137518

# Cell Types

In [14]:
df_types = pd.read_csv('consolidated_cell_types.csv')
df_types

                   root_id primary_type additional_type(s)
0       720575940596125868          T5c                NaN
1       720575940597856265         Tm16                NaN
2       720575940597944841          Tm7             CB3851
3       720575940598267657        TmY15                NaN
4       720575940599333574          Tm1                NaN
...                    ...          ...                ...
137672  720575940661335681       CB0180                NaN
137673  720575940661336193         TmY3                NaN
137674  720575940661337217       KCab-p                NaN
137675  720575940661338497       CB0904                NaN
137676  720575940661339777         R1-6                NaN

[137677 rows x 3 columns]

In [31]:
kc_types = [x for x in df_types['primary_type'].unique() if "KC" in x]
kc_types

['KCapbp-ap2',
 'KCg-m',
 'KCab',
 'KCg-d',
 'KCab-p',
 'KCapbp-ap1',
 'KCapbp-m',
 'KCg-s2',
 'KCg-s3',
 'KCg-s1']

KCapbp-ap1
KCapbp-ap2
KCapbp-m

KCab
KCab-p

KCg-d
KCg-m

In [35]:
df_types[df_types['primary_type'].isin(kc_types)]['root_id'].unique()

array([720575940602553568, 720575940602564320, 720575940602605536, ...,
       720575940660047489, 720575940661275009, 720575940661337217],
      shape=(5177,))

In [30]:
apl_types = [x for x in df_types['primary_type'].unique() if "APL" in x]
apl_types

['APL']

In [25]:
len(df_types[df_types['primary_type']=='APL'])

2

# Filter

In [ ]:
# define mushroom body regions
mb_regions = [
    "MB_VL_L", "MB_VL_R",
    "MB_PED_L", "MB_PED_R",
    "MB_ML_L", "MB_ML_R",
    "MB_CA_L", "MB_CA_R"
]