# Imports

In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("connections_princeton.csv")
df

                pre_root_id        post_root_id neuropil  syn_count nt_type
0        720575940625363947  720575940623224444     ME_L         12    GABA
1        720575940630432382  720575940618518557     ME_L         67     ACH
2        720575940627314521  720575940626337738     ME_L         10    GABA
3        720575940620280405  720575940620204726     ME_L         15     ACH
4        720575940636942447  720575940613789411     LA_L          1    GLUT
...                     ...                 ...      ...        ...     ...
5342441  720575940610739918  720575940617129885    PLP_L          5     ACH
5342442  720575940653332385  720575940623905719    CRE_R          2     ACH
5342443  720575940622485887  720575940631031803     ME_R          9     ACH
5342444  720575940620020534  720575940636489140    SMP_L          2     ACH
5342445  720575940632648612  720575940626847765      GNG         19    GABA

[5342446 rows x 5 columns]

In [14]:
df['neuropil'].unique()

array(['ME_L', 'LA_L', 'UNASGD', 'LOP_L', 'LO_L', 'AVLP_L', 'SLP_L',
       'LH_L', 'PVLP_L', 'PLP_L', 'AOTU_L', 'AME_L', 'GNG', 'AL_R',
       'LAL_R', 'ME_R', 'AVLP_R', 'SMP_R', 'AMMC_L', 'SMP_L', 'MB_VL_R',
       'LO_R', 'MB_PED_R', 'VES_L', 'CRE_R', 'AMMC_R', 'SCL_R', 'LOP_R',
       'PLP_R', 'CRE_L', 'LH_R', 'SPS_R', 'VES_R', 'PVLP_R', 'PB',
       'ICL_L', 'ATL_L', 'PRW', 'SCL_L', 'CAN_R', 'LAL_L', 'SPS_L',
       'IPS_L', 'WED_L', 'IPS_R', 'MB_VL_L', 'FB', 'SLP_R', 'SIP_R',
       'AL_L', 'EPA_L', 'IB_R', 'FLA_R', 'SIP_L', 'SAD', 'WED_R', 'EB',
       'FLA_L', 'MB_PED_L', 'BU_R', 'IB_L', 'MB_ML_L', 'MB_CA_L', 'GOR_R',
       'LA_R', 'ICL_R', 'MB_CA_R', 'EPA_R', 'GOR_L', 'AOTU_R', 'MB_ML_R',
       'ATL_R', 'NO', 'AME_R', 'GA_L', 'BU_L', 'OCG', 'CAN_L', 'GA_R'],
      dtype=object)

In [15]:
df['nt_type'].unique()

array(['GABA', 'ACH', 'GLUT', 'OCT', 'SER', 'DA'], dtype=object)

In [16]:
special_ids = [720575940613583001, 720575940624547622]

MB_regions = [
    "MB_CA_L",   # Calyx, left hemisphere (input)
    "MB_CA_R",   # Calyx, right hemisphere (input)
    "MB_PED_L",  # Pedunculus, left hemisphere (stalk)
    "MB_PED_R",  # Pedunculus, right hemisphere (stalk)
    "MB_VL_L",   # Vertical lobe, left hemisphere (output)
    "MB_VL_R",   # Vertical lobe, right hemisphere (output)
    "MB_ML_L",   # Medial lobe, left hemisphere (output)
    "MB_ML_R"    # Medial lobe, right hemisphere (output)
]

In [17]:
# Filter: either neuropil is MB or pre/post root ID matches one of the special IDs
df_filtered = df[
    df['neuropil'].isin(MB_regions) |
    df['pre_root_id'].isin(special_ids) |
    df['post_root_id'].isin(special_ids)
]
df_filtered

                pre_root_id        post_root_id  neuropil  syn_count nt_type
169219   720575940613501855  720575940614026193   MB_VL_R          6     ACH
169222   720575940627700484  720575940613583001  MB_PED_R          1     ACH
169239   720575940628259914  720575940613583001     SCL_R          5     ACH
169295   720575940627590421  720575940622987912   MB_VL_L          4     ACH
169304   720575940622791429  720575940617643072   MB_VL_L          1     ACH
...                     ...                 ...       ...        ...     ...
5342390  720575940613583001  720575940615134918  MB_PED_R          1    GABA
5342392  720575940613197608  720575940624547622     CRE_L          2     ACH
5342396  720575940634819167  720575940612783218   MB_CA_L          3     ACH
5342423  720575940628119555  720575940617302365   MB_VL_L          4     ACH
5342436  720575940621521663  720575940620975696  MB_PED_L          1     ACH

[242398 rows x 5 columns]

In [18]:
# Export filtered DataFrame to CSV
df_filtered.to_csv("df_filtered_MB_connections.csv", index=False)