# Imports

In [14]:
import numpy as np
import pandas as pd

In [15]:
df_neurons = pd.read_csv('traced-neurons.csv')
df_neurons

           bodyId     type             instance
0       200326126    CL141              CL141_L
1       202916528     FS4C      FS4C(FQ12)_C4_R
2       203253072     FS4A  FS4A(AB)(FQ12)_C3_R
3       203253253   SMP505      SMP505(PDM22)_L
4       203257652     FS4C      FS4C(FQ12)_C6_R
...           ...      ...                  ...
21734  7112579856     LC20                 LC20
21735  7112615127  AVLP335            AVLP335_R
21736  7112617294  AVLP331            AVLP331_R
21737  7112622044   LAL137      LAL137(PVL05)_L
21738  7112622236      NaN                  NaN

[21739 rows x 3 columns]

In [16]:
df_roi_connections = pd.read_csv('traced-roi-connections.csv')
df_roi_connections

         bodyId_pre  bodyId_post     roi  weight
0         200326126    264083994  SLP(R)       3
1         200326126    295816140  ICL(R)       2
2         200326126    295816140  SCL(R)       2
3         200326126    295816140  PLP(R)       1
4         200326126    296203440  SCL(R)       1
...             ...          ...     ...     ...
4259619  7112622236    328283521  SMP(R)       1
4259620  7112622236    357932060  SMP(R)       1
4259621  7112622236    357940977  SMP(R)       1
4259622  7112622236    358631450  SMP(R)       1
4259623  7112622236    480672667  SLP(R)       1

[4259624 rows x 4 columns]

In [17]:
df_connections = pd.read_csv('traced-total-connections.csv')
df_connections

         bodyId_pre  bodyId_post  weight
0         294437328    295470623       1
1         294437328    295133902       1
2         294437328    448260940       1
3         294437328    294783423       1
4         294437328   5812979995       1
...             ...          ...     ...
3550398  5901222127    546307807       1
3550399  5901222127    577697202       1
3550400  5901222127    393210919       1
3550401  5901222127    330640044       5
3550402  5901222127    516875221       3

[3550403 rows x 3 columns]

# Analysis

In [18]:
len(df_neurons)

21739

In [19]:
df_roi_connections['roi'].unique()

array(['SLP(R)', 'ICL(R)', 'SCL(R)', 'PLP(R)', 'AVLP(R)', 'LH(R)',
       'SMP(L)', 'FB', 'AB(R)', 'SMP(R)', 'SIP(R)', 'SIP(L)', 'SCL(L)',
       'NotPrimary', 'SPS(L)', 'IPS(R)', 'SPS(R)', 'BU(L)', 'CRE(L)',
       'IB', 'AME(R)', 'CA(R)', 'FLA(R)', 'CRE(R)', 'EPA(R)', 'bL(R)',
       "b'L(R)", 'bL(L)', 'PED(R)', 'aL(R)', 'gL(R)', "b'L(L)", 'gL(L)',
       'ICL(L)', 'AB(L)', 'AL(R)', 'ATL(L)', 'LAL(R)', 'EB', 'PVLP(R)',
       'ATL(R)', 'AOTU(R)', "a'L(R)", 'LO(R)', 'VES(R)', 'aL(L)',
       'GOR(R)', 'WED(R)', 'LAL(L)', 'NO', 'PB', 'SAD', 'BU(R)', "a'L(L)",
       'GOR(L)', 'GNG', 'CAN(R)', 'VES(L)', 'EPA(L)', 'AL(L)', 'ME(R)',
       'LOP(R)'], dtype=object)

In [20]:
df_neurons['type'].unique()

array(['CL141', 'FS4C', 'FS4A', ..., 'aMe6b', 'AVLP534', 'SLP169'],
      shape=(5555,), dtype=object)

In [24]:
l = [x for x in df_neurons['type'].unique() if 'KC' in str(x)]
l

['KCab-m',
 'KCab-c',
 'KCab-s',
 'KCg-m',
 'KCab-p',
 "KCa'b'-ap2",
 "KCa'b'-m",
 "KCa'b'-ap1",
 'KCg-d',
 'KCg-t',
 'KCg-s4',
 'KCg-s1',
 'KCg-s3',
 'KCg-s2']

In [25]:
KC_types = ['KCab-m',
 'KCab-c',
 'KCab-s',
 'KCg-m',
 'KCab-p',
 "KCa'b'-ap2",
 "KCa'b'-m",
 "KCa'b'-ap1",
 'KCg-d',
 'KCg-t',
 'KCg-s4',
 'KCg-s1',
 'KCg-s3',
 'KCg-s2']

In [26]:
l = [x for x in df_neurons['type'].unique() if 'APL' in str(x)]
l

['APL']

In [ ]:
APL_type = ['APL']